@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit">
    <h1>RRAD Banking App</h1>
    <p class="lead">Description</p>
    <p><a href="" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="span4">
        <h2>Header 2</h2>
        <p>Header 2 Description</p>
        <p><a class="btn" href="">Learn more &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Header 3</h2>
        <p>Header 3 Description</p>
        <a class="btn" href="">Learn more &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Header 4</h2>
        <p>Header 4 Description</p>
        <a class="btn" href="">Learn more &raquo;</a></p>
    </div>
</div>