@{
    ViewBag.Title = "Home";  
}

<div class="hero-unit">
    <h1>Welcome to RRAD Banking!</h1>
    <p class="lead">Start now!</p>
    <div class="btn btn-primary btn-large">@Html.ActionLink("Learn more here", "FAQ", "Home") &raquo;</div>
</div>
<div class="row">
    <div class="span4">
        <h2>Section 1</h2>
        <p>
            Section 1 Text.
        </p>
        <p><a class="btn" href="">Section 1 &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Section 2</h2>
        <p>
            Section 2 Text.
        </p>
        <p><a class="btn" href="">Section 2 &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Section 3</h2>
        <p>
            Section 3 Text.
        </p>
        <p><a class="btn" href="">Section 3 &raquo;</a></p>
    </div>
</div>