@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SEP Banking App</h1>
    <p class="lead">Description</p>
    <p><a href="" class="btn btn-primary btn-large">Link &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Header 1</h2>
        <p>
            Description
        </p>
        <p><a class="btn btn-default" href="">Link &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Header 2</h2>
        <p>Description</p>
        <p><a class="btn btn-default" href="">Link &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Header 3</h2>
        <p>Description</p>
        <p><a class="btn btn-default" href="">Link &raquo;</a></p>
    </div>
</div>